spring.application.name=

# h2 - test
# spring.h2.console.enabled=true
# spring.h2.console.path=/h2
# spring.datasource.url=jdbc:h2:mem:db_name

# mysql - runtime
spring.datasource.url=jdbc:mysql://localhost:3306/db_name
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jpa.hibernate.ddl-auto=update

# Open API documentation
springdoc.swagger-ui.tagsSorter=alpha

# Auth path
security.path.client_register=/clients/register
security.path.client_login=/clients/login
security.path.employee_register=/employees/register
security.path.employee_login=/employees/login
security.path.logout=/logout

# JWT
security.jwt.authorization=Authorization
security.jwt.bearer=Bearer
security.jwt.secret=SECRET
security.jwt.token_expiration_days=30

# Cookie
security.cookie.name=cookie_name
security.cookie.httponly=false
security.cookie.secure=false
security.cookie.path=/
security.cookie.expiration_days=30
